header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

body.dark header {
    background: #112143 !important;
}

header .logo {
    width: 45px;
    text-decoration: none;
}

header .logo span {
    color: #292929;
    font-weight: 800;
    font-size: 25px;
    margin-left: 7px !important;
    text-transform: uppercase;
}

body.dark header .logo span {
    color: #fff;
}

header .part2 {
    padding-left: 50px !important;
}

header .rounded-circle {
    min-width: 45px !important;
    height: 45px !important;
    width: 45px !important;
    background-color: #f0f5ff;
    color: #292929;
    margin-right: 10px !important;
}

body.dark header .rounded-circle {
    color: #fff !important;
}

body.dark header .rounded-circle {
    background-color: #2b50a0 !important;
}

body.dark header .rounded-circle svg {
    color: #fff !important;
}

header .rounded-circle:hover {
    color: blue;

    & svg {
        color: blue !important;
        transition: 0.5s !important;

    }


}

.myAcc {
    color: #292929 !important;
    text-transform: capitalize !important;
    text-align: left;
}

.myAccWrapper a{
    text-decoration: none !important;
}
.userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    border-radius: 100%;
    cursor: pointer;

}

.bigImg {
    width: 80px !important;
    height: 80px !important;

    & img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }

}

body.dark .userImg {
    border: 2px solid #fff !important;

}

body.dark .myAcc,
body.dark .myAcc .userInfo p {
    color: rgba(255, 255, 255, 0.8) !important;
}

.userOneIcon {
    display: none;
}

.userImg .userLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 2px;
    position: relative;
}

.userImg .userLogo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.myAcc .userInfo {
    margin-left: 8px !important;

    & h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    & p {
        margin: 0px;
        font-size: 13px;
        opacity: 0.5;
        color: #292929;
    }
}

body.dark ::-webkit-scrollbar-thumb {
    background-color: #fff !important;
}

::-webkit-scrollbar {
    width: 3px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #0858f7 !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

body.dark .MuiPaper-elevation,
body.dark .myAccWrapper svg,
body.dark .dropdown-list li.MuiButtonBase-root {
    background-color: #12254e !important;
    color: #fff !important;
}

body.dark .MuiPaper-elevation li * {
    color: #fff !important;
}

body.dark li.MuiButtonBase-root:hover {
    background-color: #2b50a0 !important;
}

.dropdown-list {

    & li {
        margin-bottom: 3px !important;
    }

    & li.MuiButtonBase-root {
        background-color: #ebf6ff !important;
        color: #292929;
        padding: 10px 15px !important;
        transition: all 0.3s ease-in-out;

    }

    & li.MuiButtonBase-root:hover {
        background-color: #cee5fa !important;
    }

    & .notificationSlider {
        height: auto;
        width: 300px !important;
        max-height: 400px !important;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .btnBlue {
        background-color: #0858f7;
        color: white !important;
        text-transform: capitalize;
        font-size: 15px;
        width: 100%;
        font-weight: 600;
    }
}

.dropDownInfo {
    padding-left: 15px;

    & h4 {
        font-size: 14px;
        font-weight: 400;
        white-space: break-spaces;
        line-height: 21px;
    }

    & p {
        font-size: 12px !important;
        font-weight: 600;
        margin-top: 0px !important;
    }

    & .textSky {
        color: blue;
    }
}


/* start responsive code for mobile device */



@media only screen and (max-width: 720px) {

    header {
        height: 50px !important;
    }

    header .logo {
        width: 30px;
    }

    header .logo span {
        font-weight: 700;
        font-size: 22px;
        margin-left: 4px !important;
    }

    .part1 {
        width: 20% !important;
    }

    .part2 {
        width: 25% !important;
        padding-left: 65px !important;
    }

    .part3 {
        width: 55% !important;
    }

    .serchBoxSection {
        display: none !important;
    }


    header .rounded-circle {
        min-width: 35px !important;
        height: 35px !important;
        width: 35px !important;
        background-color: #f0f5ff;
        color: #292929;
        margin-right: 10px !important;
    }

    .myAccWrapper .userInfo {

        & h4 {
            font-size: 13px !important;
        }

        & p {
            font-size: 10px !important;

        }
    }
}

@media only screen and (max-width: 575px) {

    .part1 {
        margin-left: -15px !important;
    }

    .part2 {
        width: 25% !important;
        padding-left: 40px !important;
        margin-left: 10px !important;
    }

    .part3 {
        width: 55% !important;
        margin-left: 5px !important;

    }


    header .rounded-circle {
        min-width: 35px !important;
        height: 35px !important;
        width: 35px !important;
        background-color: #f0f5ff;
        color: #292929;
        margin-right: 8px !important;
    }

    .userOneIcon {
        display: block !important;
    }

    .userTwoDetails {
        display: none !important;
    }


}

@media only screen and (max-width: 380px) {

    header .logo span {
        font-weight: 600;
        font-size: 20px;
        margin-left: 4px !important;
    }




    .part2 {
        width: 20% !important;
    }

    .part3 {
        width: 60% !important;
    }
}


/* end responsive code for mobile device */