.form .form-group {
    margin-bottom: 20px !important;
}

.form .form-group h6 {
    margin-bottom: 8px !important;
    font-size: 14px !important;
}

.form .form-group input,
.form .form-group textarea {
    background-color: #fafafa;
    width: 100%;
    height: 40px !important;
    border-radius: 7px;
    padding-left: 15px !important;
    border: 1px solid rgba(0, 0, 0, .2) !important;
    outline: none !important;
    font-size: 14px !important;
}

.form .form-group textarea {
    height: 120px !important;
    padding-top: 10px !important;
}

body.dark .form .form-group .bgCategory,
body.dark .form .form-group .bgBrand {
    background-color: #2b3c5f !important;

}

.extraMarging1 {
    margin-left: -12px !important;
}

.extraMarging2 {
    margin-right: -12px !important;
}


body.dark .form .form-group input,
body.dark .form .form-group textarea {
    background-color: #2b3c5f !important;
    color: #fff;
}

.ratingSection svg {
    font-size: 30px !important;
}
.uploadIcon svg{
    font-size: 22px !important; 
    margin-right: 10px !important;
}

