@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px !important;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

}

.main .sideWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
}

.main .sideWrapper.toggleWrapper {
  width: 0% !important;
  flex: 0 0 0% !important;
}


.main .sideWrapper .sidebar {
  width: 20%;
  height: 110vh;
  position: fixed;
  top: 70px;
  left: 0px;
  background-color: #fff;
  overflow-y: scroll;
  max-height: calc(100%-10px);
  height: 100% !important;
  padding-bottom: 30px !important;
}



.main .content {
  width: 80% !important;
  flex: 0 0 80% !important;
  transition: all 0.3s ease-in-out;
}

.main .content.toggleWrapper {
  width: 100% !important;
  flex: 0 0 100% !important;

}

.main .content .right-content {
  height: 100%;
  position: relative;
  top: 70px;
  right: 0px;
  background-color: #fff;
  max-height: calc(100%-70px);
  padding-bottom: 20px !important;
  width: 100% !important;
  overflow: hidden !important;
}

.main .sideWrapper .sidebar::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  transition: all 0.2s ease-in-out;
}

.main .sideWrapper:hover .sidebar::-webkit-scrollbar {
  background-color: #0858f7;
}

h1,
h2,
h3,
h4,
h5.h6 {
  color: #403e57 !important;
}


.btn-blue {
  background-color: #0858f7 !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px !important;
  text-transform: capitalize !important;
}

.btn-lg {
  padding: 7px 20px !important;
  border-radius: 20px !important;
}

.fullPage {
  max-width: 100% !important;
  flex: 0 0 100% !important;
  width: 100% !important;
}

.error-text {
  color: red;
  font-size: 0.9em;
}

tbody.category {
  & .img {
width: 100% !important;
height: 50px !important;
  }
  & img {
width: 100% !important;
height: 100% !important;
object-fit: contain;
  }

}
a{
  text-decoration: none !important;
}
button .loader{
  width: 25px !important;
  height: 25px !important;
}
/*start responsive section */

@media only screen and (max-width: 780px) {
  .main .sideWrapper {
    width: 40% !important;
    flex: 0 0 40% !important;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    position: fixed;
    display: none !important;

  }

  .main .sideWrapper.toggleWrapper {
    width: 0% !important;
    flex: 0 0 0% !important;
    display: block !important;
    z-index: 10000;
  }


  .main .sideWrapper .sidebar {
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 20px !important;
  }



  .main .content {
    width: 100% !important;
    flex: 0 0 100% !important;
    transition: all 0.3s ease-in-out;
  }

  .main .content .right-content {
    height: 100%;
    position: relative;
    top: 70px;
    right: 0px;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 20px !important;
  }


}

@media only screen and (max-width: 580px) {
  .main .sideWrapper {
    width: 40% !important;
    flex: 0 0 40% !important;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    position: fixed;
    display: none !important;

  }

  .main .sideWrapper.toggleWrapper {
    width: 0% !important;
    flex: 0 0 0% !important;
    display: block !important;
    z-index: 10000;
  }


  .main .sideWrapper .sidebar {
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 20px !important;
  }



  .main .content {
    width: 100% !important;
    flex: 0 0 100% !important;
    transition: all 0.3s ease-in-out;
  }

  .main .content .right-content {
    height: 100%;
    position: relative;
    top: 70px;
    right: 0px;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 20px !important;
  }


}

@media only screen and (max-width: 400px) {
  .main .sideWrapper {
    width: 55% !important;
    flex: 0 0 55% !important;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    position: fixed;
    display: none !important;

  }

  .main .sideWrapper.toggleWrapper {
    width: 0% !important;
    flex: 0 0 0% !important;
    display: block !important;
    z-index: 10000;
  }


  .main .sideWrapper .sidebar {
    width: 55%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 20px !important;
  }



  .main .content {
    width: 100% !important;
    flex: 0 0 100% !important;
    transition: all 0.3s ease-in-out;
  }

  .main .content .right-content {
    height: 100%;
    position: relative;
    top: 70px;
    right: 0px;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 20px !important;
  }


}


/*end responsive section */