.sliderWrapper .sliderSmall .slick-slide {
    padding-right: 4px !important;
}

.sliderBig .item {
    border-radius: 15px !important;

    & img {
        border: 2px dashed #ccc !important;
        border-radius: 15px !important;
        overflow: hidden !important;
    }
}

.sliderWrapper .sliderSmall .slick-slide .item {
    border-radius: 8px !important;
    border: 2px dashed #ccc !important;
    overflow: hidden !important;
    cursor: pointer;
}

.cardDetails h4 {
    line-height: 32px !important;
}

.productDetailsSection .productInfo .icon {
    width: 28%;
    flex: 0, 0, 28%;
    opacity: 0.8;

    & svg {
        font-size: 22px !important;
    }
}

.productDetailsSection .productInfo .row .name {
    width: 72%;
    flex: 0, 0, 72%;
    font-size: 15px;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.productDetailsSection .productInfo .row {
    margin-bottom: 10px !important;
}

.productDetailsSection .productInfo .row .col-sm-9 {
    display: flex;
}

.productDetailsSection .productInfo .row .col-sm-9 span {
    opacity: 0.9;
    padding-left: 10px !important;
    margin-right: 5px !important;
}

.productDetailsSection .productInfo .row .col-sm-9 .tags span:first-child {
    padding-left: 0px !important;
    padding: 3px 5px !important;
}

.productDetailsSection .productInfo .tags {
    margin-bottom: 10px !important;
}

body.dark .productDetailsSection .productInfo .tags li span {
    background: #1b2b4d !important;

}

.productDetailsSection .productInfo .tags li span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px !important;
    font-size: 14px !important;
    border: 1px solid rgba(224, 224, 224, 0.8);
}

.productDetailsSection p {
    font-size: 15px;
    line-height: 25px;
}

.productDetailsSection .ratingSection {
    width: 500px !important;
}

.productDetailsSection .ratingSection .ratingGrow {
    width: 100% !important;
    margin-bottom: 10px !important;

    & .progress {
        height: 20px !important;
        background-color: #000 !important;
    }

    & .col2 {
        width: 70%;
    }

    & .col1,
    .col3 {
        width: 10%;
    }
}

.productDetailsSection .reviewSection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

body.dark .productDetailsSection .reviewSection .reviewRow {
    background-color: #071739 !important;

}

.productDetailsSection .reviewSection .reviewRow {
    width: 100%;
    height: auto;
    background-color: #f1f1f1 !important;
    padding: 35px;
    border-radius: 10px !important;
}

body.dark .productDetailsSection .reviewSection .reviewRow svg {
    color: red !important;
}

.productDetailsSection .reviewSection .reviewRow .row {
    padding: 25px !important;
    box-shadow: 0 0 10px rgba(224, 224, 224, 0.8);
    margin-bottom: 15px !important;
    border-radius: 15px !important;
}

.productDetailsSection .useInfo {
    margin-right: 8px !important;
}

.productDetailsSection .info h6 {
    margin-bottom: 0px !important;
}

.productDetailsSection .info p {
    font-size: 14px !important;
    opacity: 0.9;
}

.reviewForm {
    width: 100%;

    & textarea {
        width: 100%;
        height: 200px !important;
        background-color: #f1f1f1 !important;
        outline: navajowhite !important;
        padding: 15px !important;
        border-radius: 10px !important;
        color: #000 !important;
    }

    & textarea::placeholder {
        color: #fff !important;
    }
}

body.dark .reviewForm textarea {
    color: #fff !important;
    background-color: #071739 !important;

}

body.dark .reviewForm textarea::placeholder {
    color: #fff !important;
}


@media only screen and (max-width: 575px) {
 .cardDetails {
        display: block !important;

        & h4 {
            font-size: 16px !important;
            margin-left: -10px !important;
            margin-bottom: 5px !important;
        }
    }


    .productDetailsSection .productInfo .icon {
        width: 70%;
        flex: 0, 0, 70%;
        opacity: 0.8;

        & svg {
            font-size: 22px !important;
        }
    }


    .productDetailsSection .productInfo .row .part1 {
        width: 25% !important;
    }

    .productDetailsSection .productInfo .row .part2 {
        width: 40% !important;
        display: flex !important;
    }

    .productDetailsSection .productInfo .row .part2 ul {
        display: flex !important;
        flex-direction: row !important;
    }

    .productDetailsSection .ratingSection {
        width: auto !important;
    }

    .productDetailsSection .ratingSection .ratingGrow {
        margin-bottom: 7px !important;

        & .progress {
            height: 15px !important;
        }

        & .col2 {
            width: 100%;
        }

        & .col1,
        .col3 {
            width: 25%;
        }
    }

    .productDetailsSection .reviewSection .reviewRow {
        padding: 15px;
    }

    .productDetailsSection .reviewSection .reviewRow .row {
        padding: 10px !important;
        margin-bottom: 10px !important;

        & .col-sm-10 {
            display: flex !important;
            justify-content: center;
            justify-content: space-between;
        }

    }

    .productDetailsSection .useInfo {
        margin-right: 8px !important;
    }

    .reviewForm {
        width: 100%;

        & textarea {
            width: 100%;
            height: 130px !important;
            background-color: #f1f1f1 !important;
            outline: navajowhite !important;
            padding: 15px !important;
            border-radius: 10px !important;
            color: #000 !important;
        }

        & textarea::placeholder {
            color: #000 !important;
        }
    }


}

@media only screen and (max-width: 450px) {
    .productDetailsSection .reviewSection .reviewRow .row {
        padding: 10px !important;
        margin-bottom: 10px !important;

        & .col-sm-10 {
            display: block !important;
            justify-content: center;
            justify-content: space-between;
        }

    }
}